<p>
  <strong>Long url:</strong>
  <%= link_to @link.long_url,  @link.long_url, target: '_blank' %>
</p>

<p>
  <strong>Short url:</strong>
  <%= link_to "#{request.base_url}/#{@link.short_url}", go_path(@link.short_url), target: '_blank' %>
</p>
